fastapi
uvicorn

SQLAlchemy
psycopg2-binary
alembic

python-dotenv

pydantic
pydantic[email]
pydantic-settings

python-jose

# Password hashing (ADMIN AUTH)
passlib[bcrypt]==1.7.4
bcrypt==4.0.1

# HTTP client per bridge Site → AirLink
requests>=2.31.0
